.grid_container{
    display:grid;
    grid-template-columns: 40fr 60fr;
    grid-template-rows:1;
    grid-column-gap: 10px;
}

.test_container{
    background-color:grey;
    border:red;
    width:auto;
}