$side_nav_size:205px;
$side_nav_min_size:105px;

.main_container {
    margin-left: $side_nav_size;
}
.side_nav{
    position:fixed;
    z-index: 1;
    top:5px;
    left:5px;
    padding:2px;
    overflow-x:hidden;
    width:$side_nav_size;
}