@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway|Roboto:400,700');

body {
    font-family:'Roboto', sans-serif;
    background-color:grey;
}
h1{
    color:white;
    font-family: 'Raleway', sans-serif;
}
p {
    color:white;
    font-family: 'Open Sans', sans-serif;
}
.background{
    opacity: 0.2;
    position:fixed;
    width: 100%;
}